@import url(style.css);

a {
    text-decoration: none;
    font-family: Roboto;
}

.logotipo {
    height: 9.9vh;
}

.header {
    position: fixed;
    background-color: var(--cor-principal-header);
    padding-inline: 10px;
    width: 100%;
}

.div__header {
    display: flex;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.nav {
    max-width: 90%;
    height: 10vh;
    margin-inline: auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__list {
    display: flex;
    gap: 32px;
    list-style: none;
    align-items: center;
}

.nav__list a {
    color: var(--cor-font-principal-header);
    font-size: 19px
}

.nav__list a:hover {
    transition: all .45s ease;
    color: var(--cor-font-hover-header);
}

.cadastro {
    padding: 1em;
    background-color: var(--cor-secundaria-header);
}

.cadastro a {
    color: var(--cor-font-secundaria-header);
}