@import url(style.css);

a {
    text-decoration: none;
    font-family: Roboto !important;
}

.logotipo {
    height: 9.9vh;
}

.header {
    position: fixed;
    background-color: var(--cor-principal-header);
    padding-inline: 10px;
    width: 100%;
    z-index: 1000;
}

.div__header {
    display: flex;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.nav {
    max-width: 90%;
    height: 10vh;
    margin-inline: auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navlist__header {
    display: flex;
    gap: 32px;
    list-style: none;
    align-items: center;
}

.navlist__header a {
    color: var(--cor-font-principal-header);
    font-size: 19px;
    transition: all .45s ease;
}

.navlist__header a:hover {
    transition: all .45s ease;
    color: var(--laranja);
}

.cadastro {
    padding: 1em;
    background-color: var(--laranja);
    border-radius: 0.5rem;
}

.cadastro a {
    color: var(--cor-font-secundaria-header);
}

.cadastro a:hover {
    transition: all .45s ease;
    color: var(--branco);
}

#header__menu {
    /* estilo do menu hamburguer (icone) */
    font-size: 3rem;
    color: var(--laranja);
    z-index: 10001;
    cursor: pointer;
    margin-left: 25px;
    display: none;
}