@import url(style.css);

* {
    font-family: Roboto;
}

.principal {
    width: 100%;
    padding: 10rem 0 10rem 0;
}

.principal__titulo {
    text-align: center;
    font-weight: bold;
    font-size: 2.5rem;
    text-align: center !important;
    padding-bottom: 2.5rem;
}

/* Criação da classificação, onde pode ser encontrado nome, pontuações e lugar no ranking geral */

.classificacao--container {
    background-color: var(--color-third);
    position: relative;
    width: 100%;
    height: 200px;
    margin: 100px 0;
    color: #fff;
}

.classificacao {
    align-items: center;
    background: var(--black-90);
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    height: 350px;
    justify-content: center;
    left: 50%;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
}

.classificacao__placar {
    display: flex;
    font-weight: bold;
    gap: 10px;
    margin: 15px 0;

}

.classificacao__texto:not(:last-child) {
    width: 24px;
}

.classificacao__time--nome {
    font-size: 2rem;
    font-weight: bold;
}

.classificacao__time--imagem {
    width: 10rem;
}

.classificacao__texto--ranking {
    font-size: 1.2rem;
    padding: 1rem 0 0.5rem 0;
}

.classificacao__texto--ranking-numero {
    font-weight: bold;
    font-size: 1.3rem;
}

/* Aqui se encontra os detalhes do time como região, modalidade, categoria, cores, responsavel */

.descricao {
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    margin: 10rem auto 0rem;
    width: 80%;
    border: 1px solid;
}

.descricao__container {
    width: 100%;
    display: flex;
    padding: 0.5rem;
}

.descricao__container:nth-child(even) {
    background: #cecece;
}

.descricao__atributo {
    border-right: 1px solid #aaa;
    font-weight: bold;
    padding: var(--padding-descricao);
    width: 30%;
}

.descricao__detalhes {
    color: #444;
    font-weight: bold;
    padding: var(--padding-descricao);
    width: 70%;
}

/* Aqui apresentará a avaliação de outros times */

.avaliacao {
    display: flex;
    flex-flow: wrap;
    flex-wrap: wrap;
    gap: 5px 32%;
    margin: 4rem auto 15rem;
    width: 70%;
    height: 10rem;
}

.avaliacao__container {
    display: flex;
    width: 34%;
    padding: 1rem;
}

.avaliacao__texto {
    width: 20%;
    min-width: 90px;
    font-size: 1.1rem;
}

.avaliacao__estrelas {
    padding-left: 2rem;
}